/* Styles for the footer */
.footer {
  background-color: var(--header-bg-color); /* Reuse variable from Header.css */
  color: var(--text-color); /* Reuse variable from Header.css */
  padding: 1rem;
  text-align: center;
}

.footer p {
  margin: 0; /* Remove default margin for the paragraph */
}
