.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101522;
  color: white;
  padding: 0.5rem 2rem;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  padding: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #4b59f7;
}
