.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0 0.5rem;
  padding-left: 2rem;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 5rem;
}

.navbar-links {
  display: flex;
  gap: 0.1rem;
}

.navbar-links a {
  color: #f0b90b;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.4rem 0.9rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ffffff;
}

.navbar-auth {
  display: flex;
  gap: 0.3rem;
}

.navbar-auth a {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  transition: all 0.3s;
  border: 1px solid transparent;
}

/* Specific styles for sign-up button */
.navbar-signup {
  background-color: #f0b90b;
  color: #1d2026;
  font-weight: 700;
  border: none;
}

.navbar-signup:hover {
  background-color: #daa520;
}

/* Specific styles for sign-in and forgot-password links */
.navbar-auth a:not(.navbar-signup) {
  color: #ffffff;
  background-color: transparent;
}

.navbar-auth a:not(.navbar-signup):hover {
  background-color: #262a34;
  border-color: #f0b90b;
}

/* Responsive styles */
@media (max-width: 992px) {
  /* For tablets */
  .navbar {
    padding: 0.5rem;
  }
  .navbar-logo img {
    height: 4rem; /* Smaller logo for tablet */
  }
}

@media (max-width: 768px) {
  /* For small tablets and large phones */
  .navbar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .navbar-logo img {
    height: 3.5rem; /* Even smaller logo for small tablets and large phones */
  }

  .navbar-links,
  .navbar-auth {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
  }

  .navbar-links a,
  .navbar-auth a {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  /* For phones */
  .navbar {
    padding: 0.5rem;
  }
  .navbar-logo img {
    height: 3rem; /* Smallest logo for phones */
  }

  .navbar-links a,
  .navbar-auth a {
    font-size: 0.8rem; /* Smaller text for phone screens */
    padding: 0.3rem 0.7rem;
  }
}

/* Enhance logo clarity */
.navbar-logo img {
  filter: drop-shadow(0px 0px 0px yellow);
}
